{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
        <script>
            location.href = "/";
        </script>
    {% else %}
            <div class="container">
                <h1>Inscription form</h1>
                {{ form(form) }}
            </div>
    {% endif %}
{% endblock %}